body {
  background-color: white;
  font-family: 'courier new';
}

.cell {
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: darkgrey;
  margin-right: 1px;
  margin-bottom: 1px;
  text-align: center;
}

.has-mine {
  background: crimson;
}

.has-flag {
  background-image: url('../../static/img/flag.png');
  background-size: 25px;
}

.revealed {
  opacity: 0.5;
}

.game-row {
  /*float: left;*/
  display: inline-block;
  margin-bottom: 5px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#timer {
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

#reset {
  /*display: inline-block;*/
}
